.btn,
button {
    border-radius: 0 !important;
    border: none;
    @include transition(all .4s ease);

    &.btn-primary {
        background-color: $red;
    }

    &.btn-secondary {
        background-color: $black;
    }

    &.btn-outline-primary {
        color: $red;
        border: 1px solid #a6a6a6 !important;
        font-weight: bold !important;

        &:hover {
            background-color: $red;
            color: $white;
        }

    }

    &:focus,
    &:active {
        outline: none !important;
        box-shadow: none !important;
    }

    &.btn-outline-dark {
        &.focus {
            outline: none !important;
            box-shadow: none !important;
        }
    }
}
