/**
 * Write your SCSS code here
 */

$red: #e00122;
$black: #000000;
$white: #ffffff;

$gray-darker: #444444;
$gray-dark: #696969;
$gray: #999999;
$gray-light: #cccccc;
$gray-lighter: #ececec;
$gray-lightest: lighten($gray-lighter, 4%);

// MIXINS
// Columns
$one: 8.33%;
$two: 16.667%;
$three: 25%;
$four: 33.333%;
$five: 41.667%;
$six: 50%;
$seven: 58.333%;
$eight: 66.667%;
$nine: 75%;
$ten: 83.333%;
$eleven: 91.667%;
$twelve: 100%;

$gutter: 1rem !global;

@import "./_include-media.scss";
@import "./_HorizontalStepper.scss";

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

// Container Mixin
@mixin grid($width: $container) {

    $container: $width;

    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    flex: 0 1 auto;

    max-width: $container;
    margin: 0 auto;

}

// Column Mixin
// @mixin column($span: $columns) {

//   $columns: $span;

//   box-sizing: border-box;
//   flex: $columns $columns auto;
//   flex-basis: $columns;
//   max-width: $columns;

//   padding-right: $gutter;
//   padding-left: $gutter;
//   padding-bottom: $gutter*2;

// }

// END: MIXINS

// GRID styles
// .grid {
//   @include grid(1280px);
// }

// .grid__item {
//   @include column($four);
// }

// .box {
//   color: white;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100px;
//   background-color: tomato;
// }

// .modules {
//   @include grid(1024px);
// }

// .module__inner {
//   height: 100px;
//   background-color: tomato;
// }

// END: GRID styles

// GENERAL STYLES
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga"on;
}

hr {
    border-top: 5px solid;
    border-color: $red;
}

// END: GENERAL STYLES

// Typography
a,
p,
span,
button,
div {
    font-family: 'Open Sans' !important;
}

h1 {
    &.page-title {
        border-bottom: 5px solid $red;
    }
}

// END: Typography

// BUTTON styles
.btn,
button {
    border-radius: 0 !important;
    border: none;
    @include transition(all .4s ease);

    &.btn-primary {
        background-color: $red;
    }

    &.btn-secondary {
        background-color: $black;
    }

    &:focus,
    &:active {
        outline: none !important;
        box-shadow: none !important;
    }

    &.btn-outline-dark {
        &.focus {
            outline: none !important;
            box-shadow: none !important;
        }
    }
}

// END: BUTTON styles

// .main {
//   margin-top: 100px;
// }

.title {
    font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    /* 1 */
    display: block;
    font-weight: 300;
    font-size: 48px;
    color: #35495e;
    letter-spacing: 1px;
    margin-top: 1rem;
}

.subtitle {
    font-weight: 300;
    font-size: 24px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
}

.links {
    padding-top: 15px;

    a {
        margin: 0 10px;
    }
}

a {
    @include transition(all .4s ease);
}

.card,
.card img {
    border-radius: 0;
}

// CARD styles
.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    .cards__item {
        display: flex;
        padding: 1rem;

        @media (min-width: 40rem) {
            width: 50%;
        }

        @media (min-width: 56rem) {
            width: 33.3333%;
        }

        .card {
            background-color: white;
            /* border-radius: 0.25rem; */
            box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
            overflow: hidden;

            &:hover {
                .card__image {
                    filter: contrast(100%);
                }
            }

            .card__image {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                /* border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem; */
                filter: contrast(70%);
                //filter: saturate(180%);
                overflow: hidden;
                position: relative;
                transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);

                &::before {
                    content: "";
                    display: block;
                    padding-top: 56.25%; // 16:9 aspect ratio
                }

                @media (min-width: 40rem) {
                    &::before {
                        padding-top: 66.6%; // 3:2 aspect ratio
                    }
                }

                /* &.card__image--flowers {
                    background-image: url(https://unsplash.it/800/600?image=82);
                }

                &.card__image--river {
                    background-image: url(https://unsplash.it/800/600?image=11);
                }

                &.card__image--record {
                    background-image: url(https://unsplash.it/800/600?image=39);
                } */

                /* &.card__image--fence {
                    background-image: url(https://unsplash.it/800/600?image=59);
                } */
            }

            .card__content {
                display: flex;
                flex: 1 1 auto;
                flex-direction: column;
                padding: 1rem;

                .card__title {
                    /* color: $gray-dark; */
                    color: $black;
                    font-size: 1.25rem;
                    font-weight: 400;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }

                .card__text {
                    flex: 1 1 auto;
                    font-size: 0.875rem;
                    line-height: 1.5;
                    margin-bottom: 1.25rem;
                }
            }
        }
    }
}

// END: CARD styles

// NAV styles
nav {
    @include media("<=desktop") {
        padding: 0;

        #nav_text_collapse {
            background: $black;

            .nav-item {
                border-bottom: 1px solid $white;

                .nav-link {
                    padding: 1rem 3%;
                    text-align: right;

                    &:hover {
                        color: $red;
                    }

                    &.nuxt-link-active {
                        background-color: $white !important;
                        color: $black;
                    }
                }

                &:last-child {
                    border: none;
                }
            }

        }
    }

    >.container {
        @include media("<=desktop") {
            max-width: 100% !important;

            .navbar-brand {
                margin-left: 3%;
            }
        }
    }

    .navbar-toggler {
        right: 3% !important;
    }
}

// END: NAV styles

// AMOUNTS styles
#amounts {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;

    label.btn {
        border: 1px solid $black;

        &:focus {
            box-shadow: none !important;
            outline: none !important;
        }

        &.active {
            background-color: $black !important;
            border-color: $black !important;

            &.focus {
                box-shadow: none !important;
            }
        }

        span {
            padding: 1rem !important;
        }
    }

    div.close {
        position: absolute !important;
    }
}

// END: AMOUNTS styles

// INTERNAL styles
.internal {
    >.container {
        @include media("<=desktop") {
            max-width: 100% !important;

            .container {
                max-width: 100% !important;
            }
        }
    }

    #internal-hero {
        margin-top: 60px;
    }
}

// END: INTERNAL styles

// MODAL styles
.b-modal-target {
    .modal {
        .modal-dialog {
            .modal-content {
                header.modal-header {
                    border-radius: 0 !important;

                    .close {
                        background-color: $black !important;
                    }
                }
            }
        }
    }
}

.modal-lg,
.modal-xl {
    width: 90% !important;
    max-width: 90% !important;
}

.modal-content {
    border-radius: 0 !important;
}

/* MODAL styles */
.modal-dialog {
    max-width: 90% !important;
    margin: 1.75rem auto;

    // .modal-header {
    //     .close {}
    // }
}

// END: MODAL styles

// ACCORDION styles
#accordion {
    width: 100%;

    .card {
        border-radius: 0;

        header {
            border-radius: 0 !important;

            a {
                text-align: left;
                background-color: $black;
                color: $white;
                padding: 1rem 2rem;

                svg {
                    @include transition(all 0.4s ease);
                    margin-right: 10px;
                    transform: rotate(0deg);
                }

                &:hover,
                &[aria-expanded="true"] {
                    background: $red;
                }

                &[aria-expanded="true"] {
                    svg {
                        transform: rotate(-135deg);
                    }
                }
            }
        }
    }
}

// END: ACCORDION styles

// FOOTER styles
footer {
    >.container {
        @include media("<=desktop") {
            max-width: 95% !important;

            .container {
                max-width: 100% !important;
            }
        }
    }
}

// END: FOOTER styles
